* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* h1 {
    font-size: 90px;
} */

/* #bulb {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 40vw;
    border: 4px solid #000;
}

button {
    padding: 10px 30px;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 47vw ;
    align-items: center;
    justify-content: center;
} */

